
@font-face {
	font-family: 'SpaceGrotesk-Bold';
  src: url('./fonts/SpaceGrotesk-Bold.woff');
  src: url('./fonts/SpaceGrotesk-Bold.woff2');

}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
  margin: 0;
  padding:0;
}
body{
  font-size: 16px;
}
.App{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% auto auto;
  grid-template-areas: 
  "nav nav nav"
  "about display gallery"
  "github display gallery";

  width: 100vw;
  height: 100vh;


}
a{
  text-decoration: none; 
}

a:last-child{
  margin-right: 100px;

}
a:first-child{
  margin-left: 100px;
}
